Repository tosdr/API: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build_parser, build_spamai, npm_models, API_Metrics, GET_case_v1, GET_service_v1, DELETE_spam_v1, GET_spam_v1, POST_spam_v1

Path conditions:
  build_parser: any of: parser/**/*
  build_spamai: any of: spam_ai/**/*
  npm_models: any of: models/**/*
  API_Metrics: any of: functions/API Metrics/**/*
  GET_case_v1: any of: functions/Case/GET/v1/**/*
  GET_service_v1: any of: functions/Service/GET/v1/**/*
  DELETE_spam_v1: any of: functions/Spam/DELETE/v1/**/*
  GET_spam_v1: any of: functions/Spam/GET/v1/**/*
  POST_spam_v1: any of: functions/Spam/POST/v1/**/*

Set correct context
  .gitlab-ci.yml
  functions/Spam/DELETE/v1/README.md
  functions/Spam/POST/v1/README.md
Due: DELETE_spam_v1, POST_spam_v1

Build Spam AI
  spam_ai/README.md
Due: build_spamai

Rebuild functions
  functions/Spam/DELETE/v1/package.json
  functions/Spam/POST/v1/package.json
  spam_ai/package.json
Due: build_spamai, DELETE_spam_v1, POST_spam_v1

Set correct dockerfile
  .gitlab-ci.yml
  spam_ai/.gitignore
Due: build_spamai

Rebuild Spam Functions
  functions/Spam/DELETE/v1/README.md
  functions/Spam/POST/v1/README.md
Due: DELETE_spam_v1, POST_spam_v1

Add Train messages
  spam_ai/src/index.ts
Due: build_spamai

Add some logging
  spam_ai/src/index.ts
Due: build_spamai

Close connections properly now
  functions/Spam/DELETE/v1/src/index.ts
  functions/Spam/POST/v1/src/index.ts
Due: DELETE_spam_v1, POST_spam_v1

Fix spam queue
  functions/Spam/DELETE/v1/src/index.ts
Due: DELETE_spam_v1

Aktualisieren functions/Spam/DELETE/v1/src/index.ts
  functions/Spam/DELETE/v1/src/index.ts
Due: DELETE_spam_v1

Add Helper script
  spam_ai/package-lock.json
  spam_ai/package.json
  spam_ai/scripts/train_point_comments.js
Due: build_spamai

Fix AMQP
  spam_ai/scripts/train_point_comments.js
Due: build_spamai

Use S3 For Model Storage now
  spam_ai/package-lock.json
  spam_ai/package.json
  spam_ai/scripts/train_point_comments_spam.js
  spam_ai/src/helpers/Spam.ts
  spam_ai/src/index.ts
Due: build_spamai

Use S3 for functions
  functions/Spam/DELETE/v1/package-lock.json
  functions/Spam/DELETE/v1/package.json
  functions/Spam/DELETE/v1/src/helpers/Spam.ts
  functions/Spam/GET/v1/package-lock.json
  functions/Spam/GET/v1/package.json
  functions/Spam/GET/v1/src/helpers/Spam.ts
  functions/Spam/POST/v1/package-lock.json
  functions/Spam/POST/v1/package.json
  functions/Spam/POST/v1/src/helpers/Spam.ts
Due: DELETE_spam_v1, GET_spam_v1, POST_spam_v1

Aktualisieren functions/Service/GET/v1/swagger.json
  functions/Service/GET/v1/swagger.json
Due: GET_service_v1

Update .gitlab-ci.yml
  .gitlab-ci.yml
Due: none

Update package.json
  functions/Case/GET/v1/package.json
Due: GET_case_v1

Update package.json
  functions/Service/GET/v1/package.json
Due: GET_service_v1

Update package.json
  models/package.json
Due: npm_models

Create stale.yml
  .github/workflows/stale.yml
Due: none

Create pr_check.yml
  .github/workflows/pr_check.yml
Due: none

Fix dev env
  .gitlab-ci.yml
  .gitpod.yml
  .gitpod/init.sh
  .idea/api-microservices.iml
  appwrite.json
  dev-env.sh
  functions/API Metrics/composer.lock
  functions/Case/GET/v1/package-lock.json
  functions/Case/GET/v1/package.json
  functions/Service/GET/v1/package-lock.json
  functions/Spam/DELETE/v1/package-lock.json
  functions/Spam/DELETE/v1/package.json
  functions/Spam/GET/v1/package-lock.json
  functions/Spam/GET/v1/package.json
  functions/Spam/POST/v1/package-lock.json
  functions/Spam/POST/v1/package.json
Due: API_Metrics, GET_case_v1, GET_service_v1, DELETE_spam_v1, GET_spam_v1, POST_spam_v1

Service v2
  .gitlab-ci.yml
  .gitpod.yml
  .idea/api-microservices.iml
  appwrite.json
  functions/Service/GET/v2/.gitignore
  functions/Service/GET/v2/README.md
  functions/Service/GET/v2/gruntfile.js
  functions/Service/GET/v2/package-lock.json
  functions/Service/GET/v2/package.json
  functions/Service/GET/v2/src/helpers/Phoenix.ts
  functions/Service/GET/v2/src/helpers/RESTfulAPI.ts
  functions/Service/GET/v2/src/index.ts
  functions/Service/GET/v2/swagger.json
  functions/Service/GET/v2/tsconfig.json
Due: none

API-15 Service v2 (#3)
  .gitlab-ci.yml
  .gitpod.yml
  .idea/api-microservices.iml
  appwrite.json
  functions/Service/GET/v2/.gitignore
  functions/Service/GET/v2/README.md
  functions/Service/GET/v2/gruntfile.js
  functions/Service/GET/v2/package-lock.json
  functions/Service/GET/v2/package.json
  functions/Service/GET/v2/src/helpers/Phoenix.ts
  functions/Service/GET/v2/src/helpers/RESTfulAPI.ts
  functions/Service/GET/v2/src/index.ts
  functions/Service/GET/v2/swagger.json
  functions/Service/GET/v2/tsconfig.json
Due: none

API-15 - Fix Build (#3)
  .gitlab-ci.yml
Due: none

Standardize v2 Service API
  functions/Service/GET/v2/src/index.ts
Due: none

Remove topics query
  functions/Service/GET/v2/src/index.ts
Due: none

Api-15 fix build and standardize API (#5)
  functions/Service/GET/v2/src/index.ts
Due: none

Update index.ts
  functions/Service/GET/v2/src/index.ts
Due: none

Update index.ts (#6)
  functions/Service/GET/v2/src/index.ts
Due: none

API-15 Fix Slug in Service v2 (#7)
  .gitlab-ci.yml
  functions/Service/GET/v2/src/index.ts
Due: none

Use model library in Case v2, prepare topic api
  .gitlab-ci.yml
  appwrite.json
  functions/Case/GET/v2/.gitignore
  functions/Case/GET/v2/README.md
  functions/Case/GET/v2/gruntfile.js
  functions/Case/GET/v2/package-lock.json
  functions/Case/GET/v2/package.json
  functions/Case/GET/v2/src/helpers/Phoenix.ts
  functions/Case/GET/v2/src/index.ts
  functions/Case/GET/v2/tsconfig.json
  functions/Topic/GET/v1/.gitignore
  functions/Topic/GET/v1/README.md
  functions/Topic/GET/v1/gruntfile.js
  functions/Topic/GET/v1/package-lock.json
  functions/Topic/GET/v1/package.json
  functions/Topic/GET/v1/src/helpers/Phoenix.ts
  functions/Topic/GET/v1/src/helpers/RESTfulAPI.ts
  functions/Topic/GET/v1/src/index.ts
  functions/Topic/GET/v1/tsconfig.json
  models/src/RESTfulAPI.ts
  models/src/index.ts
  models/src/models/Case.ts
  models/src/models/Service.ts
Due: npm_models

Use model library in Service v2
  .gitlab-ci.yml
  functions/Case/GET/v2/package-lock.json
  functions/Case/GET/v2/package.json
  functions/Case/GET/v2/src/index.ts
  functions/Service/GET/v2/package-lock.json
  functions/Service/GET/v2/package.json
  functions/Service/GET/v2/src/helpers/RESTfulAPI.ts
  functions/Service/GET/v2/src/index.ts
  models/package.json
  models/src/index.ts
  models/src/models/DocumentMinimal.ts
  models/src/models/Points.ts
  models/src/models/ServiceMinimal.ts
Due: npm_models

Update Service v2 Model to display null instead of N/A
  functions/Service/GET/v2/package-lock.json
  functions/Service/GET/v2/package.json
  models/package.json
  models/src/models/Service.ts
  models/src/models/ServiceMinimal.ts
Due: npm_models

README.md
  functions/Case/GET/v1/README.md
Due: GET_case_v1
