Repository tosdr/API: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build_parser, build_spamai, Build_API_Metrics, Test_GET_case_v1, Build_GET_case_v1, Test_GET_service_v1, Build_GET_service_v1, Test_GET_service_v2, Build_GET_service_v2, Test_DELETE_spam_v1, Build_DELETE_spam_v1, Test_GET_spam_v1, Build_GET_spam_v1, Test_POST_spam_v1, Build_POST_spam_v1

build_parser:
  stage: publish
  image:
    name: gcr.io/kaniko-project/executor:v1.9.0-debug
    entrypoint:
    - ''
  script:
  - /kaniko/executor --context "${CI_PROJECT_DIR}/parser" --dockerfile "${CI_PROJECT_DIR}/parser/Dockerfile" --destination "${CI_REGISTRY_IMAGE}/parser:latest"

build_spamai:
  stage: publish
  image:
    name: gcr.io/kaniko-project/executor:v1.9.0-debug
    entrypoint:
    - ''
  script:
  - /kaniko/executor --context "${CI_PROJECT_DIR}/spam_ai" --dockerfile "${CI_PROJECT_DIR}/spam_ai/Dockerfile" --destination "${CI_REGISTRY_IMAGE}/spamai:latest"

Build_API_Metrics:
  stage: build_functions
  image: node:16
  script:
  - npm i -g appwrite-cli && appwrite client --endpoint https://appwrite.jrbit.de/v1 --projectId $APPWRITE_PROJECT --key $APPWRITE_API_KEY
  - appwrite deploy function --functionId 63a586a196b24923e0bd

Test_GET_case_v1:
  stage: test_functions
  image: node:16
  script:
  - cd "functions/Case/GET/v1"
  - npm install
  - npm run build

Build_GET_case_v1:
  stage: build_functions
  image: node:16
  script:
  - npm i -g appwrite-cli && appwrite client --endpoint https://appwrite.jrbit.de/v1 --projectId $APPWRITE_PROJECT --key $APPWRITE_API_KEY
  - cd "functions/Case/GET/v1"
  - npm install
  - npm run build
  - cd "$CI_PROJECT_DIR"
  ...

Test_GET_service_v1:
  stage: test_functions
  image: node:16
  script:
  - cd "functions/Service/GET/v1"
  - npm install
  - npm run build

Build_GET_service_v1:
  stage: build_functions
  image: node:16
  script:
  - npm i -g appwrite-cli && appwrite client --endpoint https://appwrite.jrbit.de/v1 --projectId $APPWRITE_PROJECT --key $APPWRITE_API_KEY
  - cd "functions/Service/GET/v1"
  - npm install
  - npm run build
  - cd "$CI_PROJECT_DIR"
  ...

Test_GET_service_v2:
  stage: test_functions
  image: node:16
  script:
  - cd "functions/Service/GET/v2"
  - npm install
  - npm run build

Build_GET_service_v2:
  stage: build_functions
  image: node:16
  script:
  - npm i -g appwrite-cli && appwrite client --endpoint https://appwrite.jrbit.de/v1 --projectId $APPWRITE_PROJECT --key $APPWRITE_API_KEY
  - cd "functions/Service/GET/v2"
  - npm install
  - npm run build
  - cd "$CI_PROJECT_DIR"
  ...

Test_DELETE_spam_v1:
  stage: test_functions
  image: node:16
  script:
  - cd "functions/Spam/DELETE/v1"
  - npm install
  - npm run build

Build_DELETE_spam_v1:
  stage: build_functions
  image: node:16
  script:
  - npm i -g appwrite-cli && appwrite client --endpoint https://appwrite.jrbit.de/v1 --projectId $APPWRITE_PROJECT --key $APPWRITE_API_KEY
  - cd "functions/Spam/DELETE/v1"
  - npm install
  - npm run build
  - cd "$CI_PROJECT_DIR"
  ...

Test_GET_spam_v1:
  stage: test_functions
  image: node:16
  script:
  - cd "functions/Spam/GET/v1"
  - npm install
  - npm run build

Test_POST_spam_v1:
  stage: test_functions
  image: node:16
  script:
  - cd "functions/Spam/POST/v1"
  - npm install
  - npm run build

Delete functions/AppDB/README.md
  functions/AppDB/README.md
Due: none

New Appwrite function system
  .gitlab-ci.yml
  .gitpod.yml
  appwrite.json
  function_server/.gitignore
  function_server/package-lock.json
  function_server/package.json
  function_server/server.js
  functions/AppDB/Exporter/docker-compose.yml
  functions/AppDB/Exporter/package-lock.json
  functions/AppDB/Exporter/package.json
  functions/AppDB/Exporter/src/index.ts
  functions/AppDB/Version/GET/v1/src/index.ts
  functions/Case/GET/v1/src/index.ts
  functions/Case/GET/v2/src/index.ts
  functions/DB Dump/src/index.ts
  functions/Service/GET/v1/package-lock.json
  functions/Service/GET/v1/src/index.ts
  functions/Service/GET/v2/src/index.ts
  functions/Spam/DELETE/v1/package-lock.json
  functions/Spam/DELETE/v1/package.json
  functions/Spam/DELETE/v1/src/helpers/RESTfulAPI.ts
  functions/Spam/DELETE/v1/src/index.ts
  functions/Spam/GET/v1/src/index.ts
  functions/Spam/POST/v1/package-lock.json
  functions/Spam/POST/v1/package.json
  functions/Spam/POST/v1/src/helpers/RESTfulAPI.ts
  functions/Spam/POST/v1/src/index.ts
  parser/docker-compose.yml
  parser/docker/entrypoint.sh
  parser/src/composer.json
  parser/src/composer.lock
  parser/src/index.php
  parser/src/tosdr/parser/AppwriteRequests.php
Due: build_parser, Test_GET_case_v1, Build_GET_case_v1, Test_GET_service_v1, Build_GET_service_v1, Test_GET_service_v2, Build_GET_service_v2, Test_DELETE_spam_v1, Build_DELETE_spam_v1, Test_GET_spam_v1, Build_GET_spam_v1, Test_POST_spam_v1, Build_POST_spam_v1

add hostname variable
  .gitlab-ci.yml
Due: none

fix ci
  .gitlab-ci.yml
Due: none

Add legacy api endpooint to kubernetes
  .gitpod.yml
  appwrite.json
  functions/AppDB/Exporter/package-lock.json
  functions/AppDB/Exporter/src/index.ts
  functions/Service/GET/LegacyV1/.gitignore
  functions/Service/GET/LegacyV1/README.md
  functions/Service/GET/LegacyV1/gruntfile.js
  functions/Service/GET/LegacyV1/package-lock.json
  functions/Service/GET/LegacyV1/package.json
  functions/Service/GET/LegacyV1/src/helpers/Phoenix.ts
  functions/Service/GET/LegacyV1/src/helpers/RESTfulAPI.ts
  functions/Service/GET/LegacyV1/src/index.ts
  functions/Service/GET/LegacyV1/swagger.json
  functions/Service/GET/LegacyV1/tsconfig.json
Due: none

Split CI
  .gitlab-ci.yml
  .gitpod.yml
  functions/AppDB/Exporter/.gitlab-ci.yml
  functions/AppDB/Version/GET/v1/.gitlab-ci.yml
  functions/Case/GET/v1/.gitlab-ci.yml
  functions/Case/GET/v2/.gitlab-ci.yml
  functions/Service/GET/LegacyV1/.gitlab-ci.yml
  functions/Service/GET/LegacyV1/src/index.ts
  functions/Service/GET/v1/.gitlab-ci.yml
  functions/Service/GET/v2/.gitlab-ci.yml
  functions/Spam/DELETE/v1/.gitlab-ci.yml
  functions/Spam/GET/v1/.gitlab-ci.yml
  functions/Spam/POST/v1/.gitlab-ci.yml
Due: Test_GET_case_v1, Build_GET_case_v1, Test_GET_service_v1, Build_GET_service_v1, Test_GET_service_v2, Build_GET_service_v2, Test_DELETE_spam_v1, Build_DELETE_spam_v1, Test_GET_spam_v1, Build_GET_spam_v1, Test_POST_spam_v1, Build_POST_spam_v1

Fix GET spam v1
  functions/Spam/GET/v1/package-lock.json
  functions/Spam/GET/v1/package.json
  functions/Spam/GET/v1/src/helpers/RESTfulAPI.ts
  functions/Spam/GET/v1/src/index.ts
Due: Test_GET_spam_v1, Build_GET_spam_v1

Add changes to ci
  functions/AppDB/Exporter/.gitlab-ci.yml
  functions/AppDB/Version/GET/v1/.gitlab-ci.yml
  functions/Case/GET/v1/.gitlab-ci.yml
  functions/Case/GET/v2/.gitlab-ci.yml
  functions/Service/GET/LegacyV1/.gitlab-ci.yml
  functions/Service/GET/v1/.gitlab-ci.yml
  functions/Service/GET/v2/.gitlab-ci.yml
  functions/Spam/DELETE/v1/.gitlab-ci.yml
  functions/Spam/GET/v1/.gitlab-ci.yml
  functions/Spam/POST/v1/.gitlab-ci.yml
Due: Test_GET_case_v1, Build_GET_case_v1, Test_GET_service_v1, Build_GET_service_v1, Test_GET_service_v2, Build_GET_service_v2, Test_DELETE_spam_v1, Build_DELETE_spam_v1, Test_GET_spam_v1, Build_GET_spam_v1, Test_POST_spam_v1, Build_POST_spam_v1

use environments in ci
  .gitlab-ci.yml
  functions/AppDB/Exporter/.gitlab-ci.yml
  functions/AppDB/Version/GET/v1/.gitlab-ci.yml
  functions/Case/GET/v1/.gitlab-ci.yml
  functions/Case/GET/v2/.gitlab-ci.yml
  functions/Service/GET/LegacyV1/.gitlab-ci.yml
  functions/Service/GET/v1/.gitlab-ci.yml
  functions/Service/GET/v2/.gitlab-ci.yml
  functions/Spam/DELETE/v1/.gitlab-ci.yml
  functions/Spam/GET/v1/.gitlab-ci.yml
  functions/Spam/POST/v1/.gitlab-ci.yml
Due: Test_GET_case_v1, Build_GET_case_v1, Test_GET_service_v1, Build_GET_service_v1, Test_GET_service_v2, Build_GET_service_v2, Test_DELETE_spam_v1, Build_DELETE_spam_v1, Test_GET_spam_v1, Build_GET_spam_v1, Test_POST_spam_v1, Build_POST_spam_v1

Export Points model (#15)
  models/src/index.ts
  models/src/models/Points.ts
Due: none

Add OpenAPI Spec (WIP)
  .gitignore
  .gitpod.yml
  functions/Service/GET/v1/spec/errors/400.yaml
  functions/Service/GET/v1/spec/errors/429.yaml
  functions/Service/GET/v1/spec/service.yaml
  spec/components/service/all-v1.yaml
  spec/generator/.gitignore
  spec/generator/package-lock.json
  spec/generator/package.json
  spec/root.yaml
Due: Test_GET_service_v1, Build_GET_service_v1

Add Service V1 spec
  functions/Service/GET/v1/spec/errors/400.yaml
  functions/Service/GET/v1/spec/service.yaml
  functions/Service/GET/v1/swagger.json
  functions/Service/GET/v2/swagger.json
  spec/components/service/all-services-v1.yaml
  spec/components/service/single-service-v1.yaml
  spec/errors/429.yaml
  spec/generator/package.json
  spec/root.yaml
Due: Test_GET_service_v1, Build_GET_service_v1, Test_GET_service_v2, Build_GET_service_v2

Add v2 spec and gitlab pages
  .gitlab-ci.yml
  functions/Service/GET/v1/spec/errors/404.yaml
  functions/Service/GET/v2/spec/errors/400.yaml
  functions/Service/GET/v2/spec/errors/404.yaml
  functions/Service/GET/v2/spec/service.yaml
  spec/components/service/all-services-v2.yaml
  spec/components/service/single-service-v2.yaml
  spec/root.yaml
Due: Test_GET_service_v1, Build_GET_service_v1, Test_GET_service_v2, Build_GET_service_v2

fix ci stage
  .gitlab-ci.yml
Due: none

Add nodelts to ci image
  .gitlab-ci.yml
Due: none

Change swagger ui url
  .gitlab-ci.yml
Due: none

fix pipelines
  functions/internal/Spam/DELETE/v1/.gitlab-ci.yml
  functions/public/Service/GET/LegacyV1/.gitlab-ci.yml
  functions/public/Service/GET/LegacyV1/swagger.json
Due: none

Update version
  models/package-lock.json
  models/package.json
Due: none

Finish DocbotRecords and Point APIs for docbot. Add all new APIs to appwrite json. Clean up READMEs.
  .gitignore
  README.md
  appwrite.json
  functions/Case/GET/v1/package.json
  functions/Case/GET/v2/README.md
  functions/Case/GET/v2/src/index.ts
  functions/DocbotRecords/GET/v1/.gitignore
  functions/DocbotRecords/GET/v1/README.md
  functions/DocbotRecords/GET/v1/package-lock.json
  functions/DocbotRecords/GET/v1/package.json
  functions/DocbotRecords/GET/v1/src/helpers/Phoenix.ts
  functions/DocbotRecords/GET/v1/src/index.ts
  functions/DocbotRecords/POST/package-lock.json
  functions/DocbotRecords/POST/v1/.gitignore
  functions/DocbotRecords/POST/v1/README.md
  functions/DocbotRecords/POST/v1/package-lock.json
  functions/DocbotRecords/POST/v1/package.json
  functions/DocbotRecords/POST/v1/src/helpers/Phoenix.ts
  functions/DocbotRecords/POST/v1/src/index.ts
  functions/Document/GET/v1/README.md
  functions/Document/GET/v1/package-lock.json
  functions/Document/GET/v1/package.json
  functions/Document/GET/v1/src/helpers/Phoenix.ts
  functions/Document/GET/v1/src/index.ts
  functions/Point/GET/v1/README.md
  functions/Point/GET/v1/package-lock.json
  functions/Point/GET/v1/package.json
  functions/Point/GET/v1/src/helpers/Phoenix.ts
  functions/Point/GET/v1/src/index.ts
  functions/Point/POST/v1/README.md
  functions/Point/POST/v1/package-lock.json
  functions/Point/POST/v1/package.json
  functions/Point/POST/v1/src/helpers/Phoenix.ts
  functions/Point/POST/v1/src/index.ts
  functions/Topic/GET/v1/package-lock.json
Due: Test_GET_case_v1, Build_GET_case_v1

Make point GET public
  appwrite.json
  functions/internal/DocbotRecords/GET/v1/src/index.ts
  functions/internal/DocbotRecords/POST/v1/src/index.ts
  functions/internal/Point/spec/point.yaml
  functions/public/Document/GET/v1/src/index.ts
  functions/public/Point/GET/v1/.gitignore
  functions/public/Point/GET/v1/README.md
  functions/public/Point/GET/v1/gruntfile.js
  functions/public/Point/GET/v1/package-lock.json
  functions/public/Point/GET/v1/package.json
  functions/public/Point/GET/v1/src/helpers/Phoenix.ts
  functions/public/Point/GET/v1/src/index.ts
  functions/public/Point/GET/v1/tsconfig.json
  functions/public/Point/spec/errors/400.yaml
  functions/public/Point/spec/errors/404.yaml
  functions/public/Point/spec/point.yaml
  functions/public/Service/GET/v2/src/index.ts
  spec/root.yaml
Due: none

Fix POST data in bridge/parser. Fix Point POST endpoint
  .gitignore
  functions/internal/Point/POST/v1/src/index.ts
  parser/src/index.php
Due: build_parser

Fix quote start/end/test in Point GET
  functions/internal/Point/POST/v1/src/helpers/Phoenix.ts
  functions/public/Point/GET/v1/src/Points.ts
  functions/public/Point/GET/v1/src/index.ts
  functions/public/Service/GET/v1/src/index.ts
  spec/components/point/points-v1.yaml
  spec/components/point/single-point-v1.yaml
Due: none

Path conditions:
  build_parser: any of: parser/**/*
  build_spamai: any of: spam_ai/**/*
  Build_API_Metrics: any of: functions/API Metrics/**/*
  Test_GET_case_v1: any of: functions/Case/GET/v1/**/*
  Build_GET_case_v1: any of: functions/Case/GET/v1/**/*
  Test_GET_service_v1: any of: functions/Service/GET/v1/**/*
  Build_GET_service_v1: any of: functions/Service/GET/v1/**/*
  Test_GET_service_v2: any of: functions/Service/GET/v2/**/*
  Build_GET_service_v2: any of: functions/Service/GET/v2/**/*
  Test_DELETE_spam_v1: any of: functions/Spam/DELETE/v1/**/*
  Build_DELETE_spam_v1: any of: functions/Spam/DELETE/v1/**/*
  Test_GET_spam_v1: any of: functions/Spam/GET/v1/**/*
  Build_GET_spam_v1: any of: functions/Spam/GET/v1/**/*
  Test_POST_spam_v1: any of: functions/Spam/POST/v1/**/*
  Build_POST_spam_v1: any of: functions/Spam/POST/v1/**/*
